In [1]:
d = {"key":"value","key1":"value1"}

In [2]:
d["key"]

'value'

In [3]:
# Now printing the value in a different format(somewhat professional format...)
d.key

AttributeError: 'dict' object has no attribute 'key'

We got an error

In order to run this, we use configbox

In [ ]:
from box import ConfigBox
d2 = ConfigBox({"key":"value","key1":"value1"})

In [ ]:
d2
# It is of type "ConfigBox"

ConfigBox({'key': 'value', 'key1': 'value1'})

In [ ]:
d2.key

'value'

Now the value is printed successfully using ConfigBox

This way we can fetch the value just by the key name and in the industry level projects also it is very much handy.

# Now we shall understand the working of "ensure_annotations"

In [ ]:
# Suppose there is a simple function which returns the products of 2 numbers.
def get_product(x:int, y:int) -> int:
    return x*y

In [ ]:
get_product(2,4)

8

In [ ]:
get_product(2,"4")

'44'

### Above, the function is also executed for the string datatype although we have defined the type of 'y' as int and it gives a different output also. This type of behaviour can cause our loss in case of bigger projects... So to overcome this we use "ensure_annotations" decorator

In [ ]:
from ensure import ensure_annotations
@ensure_annotations
def get_product(x:int, y:int) -> int:
    return x*y

In [ ]:
get_product(2,"4")

EnsureError: Argument y of type <class 'str'> to <function get_product at 0x00000263935BCCA0> does not match annotation type <class 'int'>

## Here, the "ensure_annotations" throws an error & does not allows the execution of the "get_product" function. This function is helpful in fixing small bugs in the code and make it professional & production-level

In [1]:
import os
os.chdir("../")
%pwd

'd:\\end-to-end-ml-project-with-mlflow'

In [2]:
import pandas as pd
df = pd.read_csv('artifacts/data_ingestion/winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
import pandas as pd
df = pd.read_csv('artifacts/data_ingestion/winequality-red.csv')
df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [4]:
df[df.quality==3]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
459,11.6,0.580,0.66,2.20,0.074,10.0,47.0,1.00080,3.25,0.57,9.00,3
517,10.4,0.610,0.49,2.10,0.200,5.0,16.0,0.99940,3.16,0.63,8.40,3
690,7.4,1.185,0.00,4.25,0.097,5.0,14.0,0.99660,3.63,0.54,10.70,3
832,10.4,0.440,0.42,1.50,0.145,34.0,48.0,0.99832,3.38,0.86,9.90,3
899,8.3,1.020,0.02,3.40,0.084,6.0,11.0,0.99892,3.48,0.49,11.00,3
1299,7.6,1.580,0.00,2.10,0.137,5.0,9.0,0.99476,3.50,0.40,10.90,3
1374,6.8,0.815,0.00,1.20,0.267,16.0,29.0,0.99471,3.32,0.51,9.80,3
1469,7.3,0.980,0.05,2.10,0.061,20.0,49.0,0.99705,3.31,0.55,9.70,3
1478,7.1,0.875,0.05,5.70,0.082,3.0,14.0,0.99808,3.40,0.52,10.20,3
1505,6.7,0.760,0.02,1.80,0.078,6.0,12.0,0.99600,3.55,0.63,9.95,3

In [6]:
# define numerical & categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 12 numerical features : ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality']

We have 0 categorical features : []

In [7]:
df.nunique()

fixed acidity            96
volatile acidity        143
citric acid              80
residual sugar           91
chlorides               153
free sulfur dioxide      60
total sulfur dioxide    144
density                 436
pH                       89
sulphates                96
alcohol                  65
quality                   6
dtype: int64

In [8]:
df.duplicated().sum()

240

In [9]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [10]:
df["quality"].value_counts()

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [11]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [12]:
df['quality'].value_counts()

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [13]:
df.value_counts()

fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  free sulfur dioxide  total sulfur dioxide  density  pH    sulphates  alcohol  quality
7.5            0.510             0.02         1.7             0.084      13.0                 31.0                  0.99538  3.36  0.54       10.5     6          4
6.7            0.460             0.24         1.7             0.077      18.0                 34.0                  0.99480  3.39  0.60       10.6     6          4
7.2            0.360             0.46         2.1             0.074      24.0                 44.0                  0.99534  3.40  0.85       11.0     7          4
               0.695             0.13         2.0             0.076      12.0                 20.0                  0.99546  3.29  0.54       10.1     5          4
8.3            0.650             0.10         2.9             0.089      17.0                 40.0                  0.99803  3.29  0.55       9.5      5          3
                                                                                                                                                                 ..
7.5            0.430             0.30         2.2             0.062      6.0                  12.0                  0.99495  3.44  0.72       11.5     7          1
               0.420             0.32         2.7             0.067      7.0                  25.0                  0.99628  3.24  0.44       10.4     5          1
                                 0.31         1.6             0.080      15.0                 42.0                  0.99780  3.31  0.64       9.0      5          1
               0.410             0.15         3.7             0.104      29.0                 94.0                  0.99786  3.14  0.58       9.1      5          1
15.9           0.360             0.65         7.5             0.096      22.0                 71.0                  0.99760  2.98  0.84       14.9     5          1
Name: count, Length: 1359, dtype: int64

In [3]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.utils import resample

In [4]:
def log_transform(col):
    return np.log(col[0])
df['residual sugar'] = df[['residual sugar']].apply(log_transform, axis=1)
df['chlorides'] = df[['chlorides']].apply(log_transform, axis=1)
df['free sulfur dioxide'] = df[['free sulfur dioxide']].apply(log_transform, axis=1)
df['total sulfur dioxide'] = df[['total sulfur dioxide']].apply(log_transform, axis=1)
df['sulphates'] = df[['sulphates']].apply(log_transform, axis=1)
# Handling imbalanced dataset below...
df_3 = df[df.quality==3]     # MINORITY
df_4 = df[df.quality==4]     # MINORITY
df_5 = df[df.quality==5]     # MAJORITY
df_6 = df[df.quality==6]     # MAJORITY
df_7 = df[df.quality==7]     # MINORITY
df_8 = df[df.quality==8]     # MINORITY
# Oversample MINORITY Class to make balance data :
df_3_upsampled = resample(df_3, replace=True, n_samples=600, random_state=12) 
df_4_upsampled = resample(df_4, replace=True, n_samples=600, random_state=12) 
df_7_upsampled = resample(df_7, replace=True, n_samples=600, random_state=12) 
df_8_upsampled = resample(df_8, replace=True, n_samples=600, random_state=12) 
# Decreases the rows of Majority one's to make balance data :
df_5_downsampled = df[df.quality==5].sample(n=600).reset_index(drop=True)
df_6_downsampled = df[df.quality==6].sample(n=600).reset_index(drop=True)
# Combine downsampled majority class with upsampled minority class
Balanced_df = pd.concat([df_3_upsampled, df_4_upsampled, df_7_upsampled, df_8_upsampled, df_5_downsampled, df_6_downsampled]).reset_index(drop=True) 
train, test = train_test_split(Balanced_df,test_size=0.2,random_state=42)
train.head()
test.head()

C:\Users\vedan\AppData\Local\Temp\ipykernel_20912\4196349014.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.log(col[0])
C:\Users\vedan\AppData\Local\Temp\ipykernel_20912\4196349014.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.log(col[0])
C:\Users\vedan\AppData\Local\Temp\ipykernel_20912\4196349014.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.log(col[0])
C:\Users\vedan\AppData\Local\Temp\ipykernel_20912\4196349014.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.log(col[0])
C:\Users\vedan\AppData\Local\Temp\ipykernel_20912\4196349014.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return np.log(col[0])

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1340,7.5,0.52,0.16,0.641854,-2.465104,2.484907,3.555348,0.99680,3.38,-0.478036,9.5,7
1601,9.9,0.35,0.38,0.405465,-2.847312,3.433987,3.850148,0.99676,3.26,-0.198451,10.6,7
3549,13.2,0.46,0.52,0.788457,-2.645075,2.484907,3.555348,1.00060,3.10,-0.579818,9.0,6
3575,10.7,0.40,0.37,0.641854,-2.513306,2.833213,3.367296,0.99674,3.12,-0.430783,11.2,6
211,11.6,0.58,0.66,0.788457,-2.603690,2.302585,3.850148,1.00080,3.25,-0.562119,9.0,3

In [5]:
test.quality.value_counts()

quality
3    147
7    119
4    119
5    117
8    111
6    107
Name: count, dtype: int64

In [6]:
input_feature_train_df=train.drop(columns=["quality"],axis=1)
target_feature_train_df=train["quality"]

input_feature_test_df=test.drop(columns=["quality"],axis=1)
target_feature_test_df=test["quality"]

In [7]:
num_pipeline= Pipeline(
    steps=[
    ("imputer",SimpleImputer(strategy="median")),
    ("scaler",MinMaxScaler())

    ]
)

In [8]:
input_feature_train_df=num_pipeline.fit_transform(input_feature_train_df)
input_feature_test_df=num_pipeline.fit_transform(input_feature_test_df)

In [9]:
train.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [10]:
input_feature_train_df

array([[0.47787611, 0.30136986, 0.24      , ..., 0.34645669, 0.29350719,
        0.26153846],
       [0.2920354 , 0.15753425, 0.46      , ..., 0.48031496, 0.53159869,
        0.67692308],
       [0.53982301, 0.15753425, 0.53      , ..., 0.32283465, 0.37622157,
        0.4       ],
       ...,
       [0.2300885 , 0.31506849, 0.54      , ..., 0.46456693, 0.30333041,
        0.29230769],
       [0.6460177 , 0.30821918, 0.5       , ..., 0.2992126 , 0.47740958,
        0.35384615],
       [0.62831858, 0.2260274 , 0.63      , ..., 0.37007874, 0.4093656 ,
        0.38461538]])

In [ ]:
in